body {
  margin: auto;
}

.container {
  width: 100%;
  display: flex;
  text-align: center;
  height: auto;
  background-color: antiquewhite;
}

.toggle {
  display: none;
  /* display: inline-block; */
  cursor: pointer;
  margin: auto 0;
  padding: 0 20px;
}

.bar1,
.bar2,
.bar3 {
  width: 25px;
  height: 2px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 5px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

nav {
  background-color: antiquewhite;
}
.logo {
  width: 30%;
  display: flex;
}

.list {
  width: 40%;
  margin: auto 0;
}

ul {
  width: 80%;
  padding: 0;
}

.list ul {
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}

.list ul li {
  padding: 0 10px;
}

.list ul li a:hover {
  text-decoration: underline;
  cursor: pointer;
  color: rgb(56, 56, 174);
}

.person {
  width: 25%;
  margin: auto 0;
  text-align: right;
}

.img {
  width: 50%;
  height: auto;
  margin: auto 0;
  text-align: right;
}
.text {
  width: 50%;
  margin: auto 0;
  text-align: left;
  font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
}

.android {
  width: 50%;
}

.p_per {
  border-radius: 50%;
  width: 15%;
}

.person_logo {
  margin: auto 0;
}
@media only screen and (min-width: 501px) {
  .list2 {
    display: none !important;
  }
}

@media only screen and (max-width: 870px) {
  .text {
    font-size: 15px;
  }

  .list ul {
    font-size: 15px;
  }

  .p_per {
    border-radius: 50%;
    width: 50px;
  }
}

@media only screen and (max-width: 500px) {
  .list ul {
    display: none;
  }

  .toggle {
    display: inline-block;
    width: 33%;
  }

  .logo {
    width: 33%;
    text-align: center;
  }

  .person {
    width: 40%;
  }

  .android {
    width: 60px;
  }

  .list2 {
    width: 100%;
    display: none;
    text-align: center;
  }

  .list2 ul {
    /* margin: 0 auto; */
    list-style: none;
    width: 90%;
    text-decoration: none;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
  }

  .list2 ul li {
    line-height: 1.6;
  }
  .person_logo {
    padding-right: 20px;
  }

  .list2 ul li a:hover {
    text-decoration: underline;
    cursor: pointer;
    color: rgb(56, 56, 174);
  }

  .list2 {
    position: relative;
    animation: mymove 3s;
    animation-fill-mode: forwards;
  }

  @keyframes mymove {
    from {
      height: 0px;
      opacity: 0;
    }
    to {
      height: 75px;
      opacity: 1;
    }
  }
}
